snippet lbsec "Date section heading"
# `date +%-d.%-m.%Y`
$0
endsnippet

snippet lbmeet "Meetings sub-section"
## Meetings

- $1
$0
endsnippet

snippet mdlink "Reference style link"
[${1:description}][${2:id}]$0
endsnippet

snippet mdlinkid "Id for reference style link"
[${1:id}]: ${2:url} ${3:title}$0
endsnippet
