# For this repo

autoload/
plugged/

# Emacs
elpa/
history
recentf
savehist
ac-dict/
ac-comphist.dat
auto-save-list/
backup-saves/
tramp
snippets/
.python-environments/

# Mac OS X
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Misc
*~
*.swp

# cython ipython magic dir
ipython/cython
ipython/profile_default/log/
ipython/profile_default/pid/
ipython/profile_default/security/
ipython/profile_default/startup/
ipython/profile_default/db/
ipython/profile_default/history.sqlite

# compiled files
*.com
*.dll
*.exe
*.o
*.so
