snippet lbsec "Date section heading"
    # `strftime("%-d.%-m.%Y")`${0}

snippet lbmeet "Meetings sub-section"
    ## Meetings

    - ${0}

snippet mdlink "Reference style link"
    [${1:description}][${2:id}]${0}

snippet mdlinkid "Id for reference style link"
    [${1:id}]: ${2:url} ${3:title}${0}
